[flake8]
ignore = D104,E226,E302,E41,F405,W503
max-line-length = 99
max-complexity = 8
application-import-names = app,models,routers,schemas,scripts,services,tests,utils,mocks,fixtures,integration,unit
import-order-style = google
exclude = .git,__pycache__,.venv,build